<template>
    <section>
        <h2 class="h4">
            <Icon v="spell-check"/>
            <T>pronouns.grammarTable</T><T>quotation.colon</T>
        </h2>

        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th></th>
                    <th v-if="comprehensive"></th>
                    <th>Nominativ</th>
                    <th v-if="comprehensive">Genitiv</th>
                    <th v-else>Possessivartikel</th>
                    <th>Dativ</th>
                    <th>Akkusativ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th v-if="comprehensive">Personalpronomen</th>
                    <th v-else>Pronomen</th>
                    <td v-if="comprehensive"></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="pronoun_n" :counter="counter"/></td>
                    <td v-if="comprehensive"><Morpheme :pronoun="selectedPronoun" morpheme="pronoun_g" :counter="counter"/></td>
                    <td v-else><Morpheme :pronoun="selectedPronoun" morpheme="possessive_m_n" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="pronoun_d" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="pronoun_a" :counter="counter"/></td>
                </tr>
                <tr v-if="comprehensive">
                    <th class="border-bottom-0">Possessivartikel</th>
                    <th>Femininum</th>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_f_n" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_f_g" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_f_d" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_f_a" :counter="counter"/></td>
                </tr>
                <tr v-if="comprehensive">
                    <th class="border-bottom-0"></th>
                    <th>Maskulinum</th>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_m_n" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_m_g" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_m_d" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_m_a" :counter="counter"/></td>
                </tr>
                <tr v-if="comprehensive">
                    <th></th>
                    <th>Neutrum</th>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_n_n" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_n_g" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_n_d" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="possessive_n_a" :counter="counter"/></td>
                </tr>
                <tr v-if="comprehensive && selectedPronoun.getMorpheme('article_n', counter)">
                    <th>Relativpronomen</th>
                    <td></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="article_n" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="article_g" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="article_d" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="article_a" :counter="counter"/></td>
                </tr>
                <tr v-if="comprehensive && selectedPronoun.getMorpheme('demonstrative_n', counter)">
                    <th>Demonstrativpronomen</th>
                    <td></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="demonstrative_n" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="demonstrative_g" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="demonstrative_d" :counter="counter"/></td>
                    <td><Morpheme :pronoun="selectedPronoun" morpheme="demonstrative_a" :counter="counter"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</template>

<script>
    export default {
        props: {
            selectedPronoun: { required: true },
            comprehensive: { required: true },
            counter: { required: true },
        }
    }
</script>
